<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:label="@string/app_name"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"
            android:exported="false" />

        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widgets.SalatiMidnightWidgetRefreshReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.popwam.salati.ACTION_MIDNIGHT_WIDGET_REFRESH" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widgets.SalatiRandomAyahWidgetProvider"
            android:exported="false"
            android:label="@string/widget_random_ayah_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_random_ayah_info" />
        </receiver>

        <receiver
            android:name=".widgets.SalatiCalendarWidgetProvider"
            android:exported="false"
            android:label="@string/widget_calendar_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_calendar_info" />
        </receiver>

        <receiver
            android:name=".widgets.SalatiTodayPrayerTimesWidgetProvider"
            android:exported="false"
            android:label="@string/widget_today_prayer_times_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_today_prayer_times_info" />
        </receiver>

        <receiver
            android:name=".widgets.SalatiNextPrayerCountdownWidgetProvider"
            android:exported="false"
            android:label="@string/widget_next_prayer_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_next_prayer_countdown_info" />
        </receiver>

        <receiver
            android:name=".widgets.SalatiCustomAyahWidgetProvider"
            android:exported="false"
            android:label="@string/widget_custom_ayah_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_custom_ayah_info" />
        </receiver>

        <receiver
            android:name=".widgets.SalatiInteractiveQuranWidgetProvider"
            android:exported="false"
            android:label="@string/widget_interactive_quran_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.popwam.salati.ACTION_QURAN_NEXT" />
                <action android:name="com.popwam.salati.ACTION_QURAN_PREVIOUS" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_interactive_quran_info" />
        </receiver>

        <receiver
            android:name=".widgets.SalatiQuickControlsWidgetProvider"
            android:exported="false"
            android:label="@string/widget_quick_controls_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.popwam.salati.ACTION_TOGGLE_NOTIFICATIONS" />
                <action android:name="com.popwam.salati.ACTION_TOGGLE_NEXT_ALERT" />
                <action android:name="com.popwam.salati.ACTION_TOGGLE_TOUCH_LOCK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_quick_controls_info" />
        </receiver>

        <receiver
            android:name=".widgets.SalatiPointsPrayerRatingWidgetProvider"
            android:exported="false"
            android:label="@string/widget_points_rating_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_points_prayer_rating_info" />
        </receiver>

        <receiver
            android:name=".widgets.SalatiFavoriteAzkarWidgetProvider"
            android:exported="false"
            android:label="@string/widget_favorite_azkar_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_favorite_azkar_info" />
        </receiver>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
